
.VideoElement {
    width: 210px;
    height: 240px;
    display: inline-block;
    margin: 0 20px 20px 0;
}

@media only screen and (max-width: 500px) {
    .VideoElement {
        width: 350px;
        height: 230px;
        /*margin: 20px 0;*/
    }
}