
.VideoProperties {
    height: 70px;
    display: table-cell;
}

.VideoTitle {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.PropertyRow {
    color: black;
    font-size: 11px;
    margin: 2px 0 0px 0;
    text-decoration: none;
    display: grid;
}

.spacer {
    margin-top: 8px;
}